body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background: #f4f4f4;
}

header, section, footer {
    padding: 20px;
    text-align: center;
}

header {
    background: #333;
    color: #fff;
}

h1, h2 {
    color: #333;
}

.project {
    background: white;
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.gallery {
    width: 100px; /* Atur lebar gambar */
    height: 100px; /* Atur tinggi gambar */
    border-radius: 50%; /* Membuat gambar bulat */
    margin-right: 20px; /* Memberikan jarak antara gambar dan teks */
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
